.NavigationItems {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: column;
	align-items: center;
	height: 100%;
}

a.active {
	color: #40A4C8;
}

@media (min-width: 500px) {
	.NavigationItems {
		flex-flow: row;
	}
}